doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Blockchain Simplified
    // jQuery minified, CDN
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    // Bootstrap dependencies
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    // /Bootstrap dependencies
    link(href='css/style.css', rel='stylesheet')
  body
    header
      .inner-header
        ul.main-nav
          li
            a(href='#') Glossar
          li
            a(href='#') Blog
          li
            a(href='#') About
        h1
          b Blockchain Simplified
        b
          p Disruptive technology explained in layman's terms.
        img(src='img/featured.png', alt='Bitcoin')
    .intro
      p
        | Learning about the inner workings of Bitcoin and Blockchain in general can be a daunting challenge, even for people with a Computer Science background. Our goal at Blockchain Simplified is to give anybody the right bits of knowledge at just the right time to slowly lead you to a full understanding of this great technology. Come join us!
      a.btn-intro(href='#') Take the first step
      hr.intro-main-hr
    .main-content
      .card
        img(src='img/icons/funds-icon.jpg')
        h1 Cryptocurrency
        p
          | With Bitcoin came the first ever Blockchain use case: a currency controlled by the masses. Today there are hundreds of crypto assets.
        a.learn-more(href='#') Learn more
      .card
        img(src='img/icons/database-icon.jpg')
        h1 Cloud Storage
        p
          | Use the Blockchain to backup your data in the most secure way possible. There is no possibility of stealing your information.
        a.learn-more(href='#') Learn more
      .card
        img(src='img/icons/power-icon.jpg')
        h1 Energy Distribution
        p
          | People are now using the Blockchain to sell and buy electricity at dynamic prices. Get the most out of your rooftop solar panels.
        a.learn-more(href='#') Learn more
      .card
        img(src='img/icons/podium-icon.jpg')
        h1 Political Impact
        p
          | Hyperinflation of Venezuela's national currency has caused its citizens to seek an alternative in a variety of cryptocurrencies.
        a.learn-more(href='#') Learn more
      .card
        img(src='img/icons/blog-icon.jpg')
        img#glossar-img(src='img/icons/dictionary-icon.jpg')
        h1 Stay Updated
        p
          | Visit our blog to brush up on the latest events in the Blockchain space or browse through our glossar to develop your understanding of Blockchain technology.
        a.learn-more(href='#') Learn more
    footer
      h4
        | ©2017 Blockchain Simplified, Blog and Associated Content