.main-content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    img {
        width: 55px;
        margin: auto;
    }
}

.learn-more {
    position: relative;
    background-color: #343535;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
    padding: 0.75em 1.5em;
    border-radius: 0.45em;
    transition: 0.3s;
    border: 0px;   
    &:hover {
        color: #F7931A;
        text-decoration: none;
    }   
    &:active {
        text-decoration: none;
    }
}

.card {
    border: 1px solid #eee;
    border-radius: 0.75em;
    padding: 1.5em 1em;
    margin: $gutter;
    position: relative;

    @include mq('sm') {
        flex: 1 items-per-line(2);
    }
    #glossar-img {
        margin-left: 20px;
    }
    h1 {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 20px;   
    }
}


